server:
  port: 5555
spring:
  application:
    name: eureka-config-server
  cloud:
    config:
      fail-fast: true
      server:
        git:
          clone-on-start: true
          default-label: main
          uri: https://github.com/arttu994/configs.git
